body {
  background-color: bisque;
  flex-wrap: wrap;
  width: 30%;
}
.img {
  width: 300px;
  height: 200px;
}
.bookscontainer {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  align-content: center;
  padding-left: 150px;
  padding-top: 100px;
  margin-top: 100px;
}

.raper {
  display: flex;
  justify-content: space-around;
  width: auto;
  flex-wrap: wrap;
}
