.ulNav{
    font-size: 20px;
display: flex;
align-items: flex-end;
list-style: none;
padding-left: 50px;
justify-content: space-around;
}
.Link{
    
text-decoration: none;
}
a{
    text-decoration: none;
    color: coral;
    background-color: darkblue;
    border-radius: 5px;


}